.one {
    width: 50px;
}

.NavBar-container {
    height: 100vh;
    background: linear-gradient(to bottom, #130313, #2e1717, black);
    color: white;
    position: fixed;
    z-index: 1;
    top: 0%;
    box-shadow: 0px 1px 1px 0px #999;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
}

.two {
    width: 220px;
}
.animate {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }


  /*=== FADE IN LEFT ===*/
@-webkit-keyframes fadeInLeft {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  @keyframes fadeInLeft {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  .fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
  }